<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guanguannfc">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".view.friends.FriendRequestActivity">
        </activity>
        <activity
            android:name=".controller.dataManagement.NFCtestActivity"
            android:label="NFC_TEST"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.homepage.HomePageActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.data.ClockActivity" />
        <activity android:name=".view.data.TestClock"/>
        <activity android:name=".view.lead.LeadActivity">
        </activity>
        <activity android:name=".controller.dataManagement.DataTestActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" /> <!-- 添加这一条默认设置，能拦截当前页面所有扫描NFC的配置 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".controller.nfcManagement.MainNFCActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" /> <!-- 添加这一条默认设置，能拦截当前页面所有扫描NFC的配置 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.nfcManagement.RunAppActivity"
            android:label="@string/str_run_app"
            android:launchMode="singleTop" />
        <activity
            android:name=".controller.nfcManagement.RunUrlActivity"
            android:label="@string/str_run_url"
            android:launchMode="singleTop" />
        <activity
            android:name=".controller.nfcManagement.ReadTextActivity"
            android:label="@string/str_read_text"
            android:launchMode="singleTop" />
        <activity
            android:name=".controller.nfcManagement.WriteTextActivity"
            android:label="@string/str_write_text"
            android:launchMode="singleTop" />
        <activity
            android:name=".controller.nfcManagement.ReadUriActivity"
            android:label="@string/str_read_uri"
            android:launchMode="singleTop" />
        <activity
            android:name=".controller.nfcManagement.WriteUriActivity"
            android:label="@string/str_write_uri"
            android:launchMode="singleTop" />
        <activity
            android:name=".controller.nfcManagement.ReadMUActivity"
            android:label="@string/str_read_mu"
            android:launchMode="singleTop" />
        <activity
            android:name=".controller.nfcManagement.WriteMUActivity"
            android:label="@string/str_write_mu"
            android:launchMode="singleTop" />
        <activity
            android:name=".controller.dataVisualization.echarttest"
            android:label="@string/app_name" />
        <activity android:name=".view.management.ChangeboxActivity" />
        <activity android:name=".view.management.AddgoodsActivity" />
        <activity android:name=".view.management.ChangeactActivity" />
        <activity android:name=".view.management.AddboxActivity" />
        <activity android:name=".view.management.ChangenameActivity" />
        <activity android:name=".view.management.DisplaygoodsActivity" />
        <activity android:name=".view.management.SearchgoodsActivity" />
        <activity android:name=".view.management.BoxtipActivity" />
        <activity android:name=".view.management.AddactActivity" />
        <activity android:name=".view.loginAndLogon.Forgetkey" />
        <activity android:name=".view.loginAndLogon.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- model测试入口 -->
        <activity android:name=".model.DataBaseTest.LiuYuTest" />
        <activity android:name=".model.DataBaseTest.UserInfo" />
        <activity android:name=".model.DataBaseTest.DataQueryTest" ></activity>

        <service
            android:name=".view.data.ClockService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>